
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container-logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tipografia{
        font-family: Tahoma, Geneva, Verdana, sans-serif
      }

.logo__1{
  margin: auto;
}

